# Ignore the local wifi secrets file
firmware/AllSeeingEye/secrets.h

# Build artifacts
firmware/build/
firmware/*.bin
firmware/*.elf
firmware/*.map

# Logs
*.log

# Deployment Configuration
firmware/known_hosts.txt
api/known_hosts.csv
